<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/author.css') }}">
<body>
    <div class="navbar-container">
        <div class="navbar">
            <p>Professors</p>
            <p>Papers</p>
            <p>My Collections</p>
        </div>
    </div>

    <div class="main-body">
        <div class="card-container">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{author[1]}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Affiliations: Columbia University</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Publications: 503</h6>
                        <a href="{{author[2]}}" class="card-link">Webpage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="papers-container">
        {% for row in papers %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{row[1]}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Columbia University</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{{row[2]}}" class="card-link">Card link</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>