<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/author.css') }}">
<body>
    <div class="navbar-container">
        <div class="navbar">
            <p><a href="{{url_for(
                'index')}}">Authors
            </a></p>
            <!-- User Display and Sign out button -->
            {% if session.get("username") %}
                <p><a href="{{url_for(
                    'user_collections',  
                    email=session.email)}}">My Collections
                </a></p>
                <div class="navbar-text">
                    Signed in as: <strong>{{ session.get("username") }}</strong>
                    <!-- Sign out button -->
                    <a href="/logout" class="btn btn-sm btn-outline-secondary ml-2">Sign Out</a>
                </div>
            {% else %}
                <p>
                    <a class="nav-link" href="/signup">Sign Up</a>
                </p>
                <p>
                    <a class="nav-link" href="/login">Sign In</a>
                </p>
            {% endif %}
        </div>
    </div>

    <div class="main-body">
        <div class="card-container">
            <div class="card">
                <div class="card-body my-card-body">
                    <div class="card-column">
                        <h5 class="card-title">{{author[1]}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Affiliations: {{1}}</h6>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Publications: {{papers|length}}</h6>
                            <a href="{{author[2]}}" class="card-link">Webpage</a>

                        <!-- Biography Section -->
                        <!-- Add the correct name for bio from the database Section -->
                        <div class="author-bio">
                            <h6 class="card-subtitle mb-2 text-body-secondary">Biography:</h6>
                            <p>{{ author['bio'] }}</p> 
                        </div>
                    </div>
                    <div class="card-column">
                        <form method="post" action="{{ url_for('include_paper_post') }}">

                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>

                            <label for="collection_name">Collection Name:</label>
                            <input type="text" id="collection_name" name="collection_name" required>

                            <label for="paper_id">Paper Id:</label>
                            <input type="text" id="paper_id" name="paper_id" required>
                    
                            <button type="submit">Add to Collection</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="papers-container">
        {% for row in papers %}
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title">{{row[1]}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary text-danger">
                    {% if row[2] is not none %}
                        {{row[2]}}
                    {% endif %}
                    {% if row[2] is none %}
                        {{"Date not available"}}
                    {% endif %}
                </h6>
                <h6 class="card-subtitle mb-2 text-body-secondary text-success">{{row[4]}}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary text-secondary">Paper id: {{row[0]}}</h6>
                <p class="card-text abstract">
                    {% if row[5] is not none %}
                        {{row[5]}}
                    {% endif %}
                    {% if row[5] is none %}
                        {{"Abstract not available."}}
                    {% endif %}
                </p>
                <a href="{{row[3]}}" class="card-link">Paper URL</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
