<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<body>
    <div class="navbar mb-4">
        <!-- User Display -->
        {% if session.get("username") %}
            <div class="text-right">
                Signed in as: <strong>{{ session.get("username") }}</strong>
            </div>
        {% endif %}
    </div>

    <div class="container">
        <div class="row">
            {% for row in data %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{row[1]}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Columbia University</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="{{row[2]}}" class="card-link">Card link</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
