<!doctype html>
<title>{% block title %}{% endblock %} - SciSearch</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<body>
    <!-- Header Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SciSearch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if session.get("username") %}
            <a class="m-auto" href="{{url_for(
                'user_collections',  
                email=session.email)}}">My Collections
            </a>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Search Form -->
            <form class="form-inline my-2 my-lg-0 ml-auto" method="post" action="/search">
                <input class="form-control mr-sm-2" type="text" name="search_query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            
            <ul class="navbar-nav ml-auto">
                {% if not session.get("username") %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <span class="navbar-text">
                            Signed in as: <strong>{{ session.get("username") }}</strong>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Rest of the page content -->
    <div class="container">
        <div class="row">
            {% for row in data %}
                <!-- Cards -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{url_for(
                                'author_page', 
                                author_id=row[2])}}">{{row[0]}}</a></h5>
                            <h6 class="card-subtitle mb-2 text-success">Publications: {{row[1]}}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
