<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/collection.css') }}">
<body>
    <div class="navbar-container">
        <div class="navbar">
            <p><a href="{{url_for(
                'index')}}">Authors
            </a></p>
            {% if session.get("username") %}
                <p><a href="{{url_for(
                    'user_collections',  
                    email=session.email)}}">My Collections
                </a></p>
                <div class="navbar-text">
                    Signed in as: <strong>{{ session.get("username") }}</strong>
                    <!-- Sign out button -->
                    <a href="/logout" class="btn btn-sm btn-outline-secondary ml-2">Sign Out</a>
                </div>
            {% else %}
                <p>
                    <a class="nav-link" href="/signup">Sign Up</a>
                </p>
                <p>
                    <a class="nav-link" href="/login">Sign In</a>
                </p>
            {% endif %}
        </div>
    </div>

    <div class="main-body">
        <div class="card-container">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{collection_name}}</h5>
                    <h6 class="card-subtitle mb-2 text-danger">Created in {{since}}</h6>
                    <h6 class="card-subtitle mb-2 text-success">{{collection_size}} papers</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns-container">
        <div class="papers-container twenty-five-div">
            Papers in Collection
            {% for row in collection_papers %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{row[1]}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-danger">
                        {% if row[2] is not none %}
                            {{row[2]}}
                        {% endif %}
                        {% if row[2] is none %}
                            {{"Date not available"}}
                        {% endif %}
                    </h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-success">{{row[4]}}</h6>
                    <p class="card-text abstract">
                        {% if row[5] is not none %}
                            {{row[5]}}
                        {% endif %}
                        {% if row[5] is none %}
                            {{"Abstract not available."}}
                        {% endif %}
                    </p>
                    <a href="{{row[3]}}" class="card-link">Paper URL</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="papers-container twenty-five-div">
            More from the Authors in Your Collection
            {% for row in from_same_authors_papers %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{row[1]}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-danger">
                        {% if row[2] is not none %}
                            {{row[2]}}
                        {% endif %}
                        {% if row[2] is none %}
                            {{"Date not available"}}
                        {% endif %}
                    </h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-success">{{row[4]}}</h6>
                    <p class="card-text abstract">
                        {% if row[5] is not none %}
                            {{row[5]}}
                        {% endif %}
                        {% if row[5] is none %}
                            {{"Abstract not available."}}
                        {% endif %}
                    </p>
                    <a href="{{row[3]}}" class="card-link">Paper URL</a>
                    <a href="
                        {{url_for(
                            'include_paper', 
                            collection_name=collection_name, 
                            email=email,
                            paper_id=row[0]
                            )}}
                    " class="card-link">Add to Collection</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="papers-container twenty-five-div">
            Papers that Cite Your Collection
            {% for row in cite_collection_papers %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{row[1]}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-danger">
                        {% if row[2] is not none %}
                            {{row[2]}}
                        {% endif %}
                        {% if row[2] is none %}
                            {{"Date not available"}}
                        {% endif %}
                    </h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-success">{{row[4]}}</h6>
                    <p class="card-text abstract">
                        {% if row[5] is not none %}
                            {{row[5]}}
                        {% endif %}
                        {% if row[5] is none %}
                            {{"Abstract not available."}}
                        {% endif %}
                    </p>
                    <a href="{{row[3]}}" class="card-link">Paper URL</a>
                    <a href="
                        {{url_for(
                            'include_paper', 
                            collection_name=collection_name, 
                            email=email,
                            paper_id=row[0]
                            )}}
                    " class="card-link">Add to Collection</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="papers-container twenty-five-div">
            Papers Cited by Your Collection
            {% for row in collection_papers_citations %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{row[1]}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-danger">
                        {% if row[2] is not none %}
                            {{row[2]}}
                        {% endif %}
                        {% if row[2] is none %}
                            {{"Date not available"}}
                        {% endif %}
                    </h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-success">{{row[4]}}</h6>
                    <p class="card-text abstract">
                        {% if row[5] is not none %}
                            {{row[5]}}
                        {% endif %}
                        {% if row[5] is none %}
                            {{"Abstract not available."}}
                        {% endif %}
                    </p>
                    <a href="{{row[3]}}" class="card-link">Paper URL</a>
                    <a href="
                        {{url_for(
                            'include_paper', 
                            collection_name=collection_name, 
                            email=email,
                            paper_id=row[0]
                            )}}
                    " class="card-link">Add to Collection</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>