<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/user_collections.css') }}">
<body>
    <div class="navbar-container">
        <div class="navbar">
            <p><a href="{{url_for(
                'index')}}">Authors
            </a></p>
            <p><a href="{{url_for(
                'user_collections',  
                email=email)}}">My Collections
            </a></p>
            <!-- User Display and Sign out button -->
            {% if session.get("username") %}
                <div class="navbar-text">
                    Signed in as: <strong>{{ session.get("username") }}</strong>
                    <!-- Sign out button -->
                    <a href="/logout" class="btn btn-sm btn-outline-secondary ml-2">Sign Out</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="main-body">
        <div class="card-container">
            <div class="card">
                <div class="card-body my-card-body">
                    <div class="card-column">
                        <h5 class="card-title">Welcome {{username}}!</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Email: {{email}}</h6>
                    </div>
                    <div class="card-column">
                        <form method="post" action="{{ url_for('create_collection') }}">

                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>

                            <label for="collection_name">Collection Name:</label>
                            <input type="text" id="collection_name" name="collection_name" required>
                    
                            <button type="submit">Add Collection</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="papers-container">
        {% for row in collections %}
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title"><a href="{{url_for(
                    'collection_page', 
                    collection_name=row[0], 
                    email=email)}}">{{row[0]}}</a></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary text-danger">
                    {% if row[2] is not none %}
                        {{row[2]}}
                    {% endif %}
                    {% if row[2] is none %}
                        {{"Date not available"}}
                    {% endif %}
                </h6>
                <h6 class="card-subtitle mb-2 text-body-secondary text-success">{{row[3]}} papers</h6>
            </div>
        </div>
        {% endfor %}
    </div>
</body>